@import "toastr";

#profile {
  padding: 0;
}
#profile img{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.omniauth {
  font-size: 4em;
}
.omniauth a {
  margin-right: 25px;
}
.profile {
  width: 50px;
  height: 50px;
}

.has-error .form-control-feedback {
  top: 9px;
}