
- if obj.updated_at > obj.prev_updated_at
  = link_to 'Перевірено', account_user_publish_path(obj), class: 'btn btn-success', method: :post
- else
  = link_to 'Перевірено', account_user_publish_path(obj), class: 'btn btn-success', disabled: 'disabled',  method: :post